body {
  font-family: 'Courier New', Verdana, Consolas, 'ヒラギノ丸ゴ Pro W3','Hiragino Maru Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

.well {
  min-height: 150px;
  max-height: 150px;
  margin-bottom: 5px;
}

.hero-unit {
  padding: 10px 30px;
}


[class*="span"] {
  margin-left: 5px;
}

.well > div {
  width: 150px;
  height: 90px;
  overflow: hidden;
}